:root {
  --nav-height: 60px;
  --sony-logo-height: 30px;
}

/* Reset */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

/* Utils */
main {
  padding-top: calc(var(--nav-height) + var(--sony-logo-height));
}

.img-container {
  width: 60%;
}

a.btn:hover {
  outline: 2px solid #0d6efd;
  outline-offset: 2px;
}

main a:hover {
  outline: 2px solid #0d6efd;
  outline-offset: 2px;
}

/* Header */
nav {
  height: var(--nav-height);
}

.sony-logo > img {
  width: 60px;
  height: var(--sony-logo-height);
}

.nav-item.dropdown {
  position: relative;
}

.nav-link {
  color: black;
}

.dropdown-toggle-custom::after {
  content: url("../img/chevron-down-solid.svg");
  width: 10px;
  position: absolute;
  top: 25%;
  right: -10px;
}

header .btn-custom {
  color: #fff;
  background-color: #363636;
}

header .btn-custom:hover {
  color: #fff;
  background-color: #363636;
  outline-color: #363636;
}

/* General Jumbo-sect */
.jumbo-section {
  height: 80vh;
  background-size: cover;
  background-position: center;
}

.jumbo-section .btn {
  color: #fff;
  background-color: #cd3d0f;
}

.jumbo-section .btn:hover {
  outline-color: #cd3d0f;
}

/* 1st Jumbo-sect */
#returnal {
  background-image: url(../img/jumbo-bg.png);
}

#returnal h1 {
  font-size: 2.1rem;
}

@media (min-width: 576px) {
  #returnal h1 {
    font-size: 2.3rem;
  }
  #returnal a {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  #returnal h1 {
    font-size: 2.5rem;
  }
  #returnal a {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  #returnal h1 {
    font-size: 2.1rem;
  }
  #returnal p {
    font-size: 0.8rem;
  }
  #returnal a {
    font-size: 13px;
  }
}

/* 2nd Jumbo-sect */
#it-takes-two {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

@media (max-width: 576px) {
  #it-takes-two h1 {
    font-size: 2.1rem;
  }
}

@media (min-width: 576px) {
  #it-takes-two h1 {
    font-size: 2.3rem;
  }
  #it-takes-two a {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  #it-takes-two img {
    width: 80%;
  }
  #it-takes-two a {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  #it-takes-two img {
    width: 100%;
  }
  #it-takes-two h1 {
    font-size: 2.1rem;
  }
  #it-takes-two p {
    font-size: 0.8rem;
  }
  #it-takes-two a {
    font-size: 13px;
  }
}

/* Other-games-sect */
.outline-blue:hover {
  outline: 3px solid #0d79d0;
  outline-offset: 3px;
}

/* PS5-sect */
#ps5-sect a {
  outline: 0;
}

#ps5-sect h1.custom-fs,
#ps5-sect h2.custom-fs {
  font-size: calc(1.7rem + 1.5vw);
}

#ps5-sect span.custom-font {
  color: #0d79d0;
  font-size: calc(0.5rem + 1vw);
  font-weight: 600;
}

.opacity-custom {
  opacity: 0.75;
}

figure:hover .opacity-custom {
  opacity: 1;
}

@media (max-width: 767px) {
  #ps5-sect .img-fluid:hover {
    border-bottom: 2px solid #0d79d0;
  }
}

@media (min-width: 767px) {
  #ps5-sect figure:hover {
    border-bottom: 2px solid #0d79d0;
  }
}

@media (min-width: 768px) {
  #ps5-sect .img-fluid {
    width: 80px;
  }
}

@media (min-width: 768px) {
  #ps5-sect figcaption {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  #ps5-sect figcaption {
    font-size: 13px;
  }
}

/* New-games-sect */
#new-games-sect {
  background-color: #1f1f1f;
}

#new-games-sect .card {
  background-color: #1f1f1f;
}

#new-games-sect span {
  font-size: 0.8rem;
}

#new-games-sect a {
  outline: 0;
}

#new-games-sect img:hover {
  outline: 2px solid #0d6efd;
  outline-offset: 3px;
}

/* PS4-sect */
#ps4-sect h1 > span {
  font-size: 14px;
  position: relative;
  top: -6px;
  right: 0;
}

/* Plus-sect */
#plus-sect {
  background-color: #bebcbb;
}

#plus-sect .btn {
  color: #0d79d0;
  background-color: #d9dadc;
}

#plus-sect .btn:hover {
  outline-color: #d9dadc;
}

/* Discount-sect */
#discounts-sect h1 {
  font-size: 2.2rem;
}

@media (min-width: 576px) {
  #discounts-sect h1 {
    font-size: 2.6rem;
  }
}

@media (min-width: 992px) {
  #discounts-sect h1 {
    font-size: 2.2rem;
  }
}

/* Now-sect */
#now-sect {
  background-color: #161c3b;
}

#now-sect .btn:hover {
  outline-color: #f8f9fa;
}

/* Social-sect */
@media (min-width: 576px) {
  #social-sect .custom-container {
    max-width: 540px;
  }
}

@media (min-width: 992px) {
  #social-sect h1 {
    font-size: 2rem;
  }
}

/* Footer */
footer {
  background-color: #00439c;
  font-size: 0.8rem;
}

footer .img-container {
  width: 80px;
}

.region img {
  width: 20px;
}

.sie-logo {
  width: 150px;
}

footer li {
  margin-bottom: 5px;
}

footer li:hover {
  text-decoration: underline;
}
