* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
}

.img-container {
  width: 60%;
}

/* Header */
.sony-logo > img {
  width: 60px;
  height: 25px;
}

/* Jumbo-sect */
.jumbo-section {
  height: 80vh;
  background-size: cover;
  background-position: center;
}

#returnal {
  background-image: url(../img/jumbo-bg.png);
}

#it-takes-two {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* Plus-sect */
.bg-custom-plus {
  background-color: #bebcbb;
}

/* Now-sect */
.bg-custom-now {
  background-color: #161c3b;
}

/* Footer */
footer {
  background-color: #00439c;
}

footer .img-container {
  width: 90px;
}

.region img {
  width: 20px;
}

.sie-logo {
  width: 150px;
}

footer .info {
  text-decoration: underline;
}
