* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

.debug {
  border: 2px dashed red;
}

/* Header */
.sony-logo > img {
  width: 60px;
  height: 25px;
}

/* Jumbo-sect */
.jumbo-section {
  height: 80vh;
  background-size: cover;
  background-position: center;
}

#returnal {
  background-image: url(../img/jumbo-bg.png);
}

.jumbo-section .img-container {
  width: 60%;
}

#it-takes-two {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* Plus-sect */
.bg-custom-plus {
  background-color: #bebcbb;
}

.plus-section .img-container {
  width: 60%;
}
